@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

$font-family-base: "Open Sans", sans-serif !important;

$Black: #000000;
$LightPink: #edc6c2;
$NormalPink: #e7b7a0;
