.explanation-section {
  margin-bottom: 7rem;
  h1 {
    text-align: center;
    margin-bottom: 3rem;
  }
  .row {
    align-items: center;
    margin-bottom: 3rem;
  }
  img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
  }
  @include media-breakpoint-down(lg) {
    .row:first-of-type {
      flex-direction: column-reverse;
    }
    img {
      margin-bottom: 1rem;
    }
  }
}
