.fifth-section {
  margin-bottom: 7rem;

  .col-md {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 80%;
    height: auto;
    margin-bottom: 3rem;
  }
  p {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 3rem;
  }
}
