.second-section {
  margin-bottom: 7rem;

  .row {
    align-items: center;
  }
  img {
    min-width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .second-section {
    .custom-direction {
      flex-direction: column-reverse;
    }
  }
}
